<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet"
          asp-href-include="/bower_components/bower_components/bootstrap/dist/css/bootstrap.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="~/bower_components/bower_components/fontawesome/css/*.css" />

    <title>SportsStore</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role-navigation>
        <a class="navbar-brand" href="#">SPORTS STORE</a>
        <div class="pull-right ml-auto">
            @await Component.InvokeAsync("CartSummary")
        </div>
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="btn-group pull-right">
                <form asp-action="Login" asp-controller="Account" method="get">
                    <button type="submit" class="btn btn-outline-info btn-md" style="float:right">
                        Log In
                    </button>
                </form>
                <form asp-action="SignUp" asp-controller="Account" method="get">
                    <button type="submit" class="btn btn-outline-secondary btn-md" style="float:right">
                        Sign Up
                    </button>
                </form>
            </div>} else { 
            <div class="pull-right">
                <a class="btn btn-sm btn-primary"
                   asp-action="LogOut" asp-controller="Account">Log Out</a>
            </div>}
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu")
            @*Put something useful here later*@
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
